[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
matplotlib = "*"
pandas = "*"
datetime = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
